* {
	box-sizing: border-box;
}
body {
	font-family: "Arial", sans-serif;
	color: #6e6e6e;
	background-color: #d2d2d3;
	background-image: linear-gradient(#d2d2d2, #f3f4f4 280px, #d2d2d3);
    background-repeat: no-repeat;
	/*height: 1000px;*/
}
.wrapper {
	width: 850px;
	margin: 0 auto;
	/*margin-top: 0;
	margin-bottom: 0;
	margin-left: auto;
	margin-right: auto;*/
}
a {
	text-decoration: none;
	color: #6e6e6e;
}
.logo a {
	font-size: 23px; 
	font-weight: bold; 
}
.header {
	padding-top: 23px; 
	padding-bottom: 28px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}
.header-menu {
	padding: 15px;
	background-image: linear-gradient(#c9c8c9, #b1b1b1);
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	border-radius: 10px;  
	border: 2px groove #dfdfdf;
	box-shadow: 3px 3px 5px #a8a8a8;
}
.header-menu a {
	display: block;
	padding: 10px 15px;
}
.active,
.header-menu a:hover {
	color: #fff;
	background-color: #8f8f8f;
	border-radius: 5px;
	box-shadow: 2px 2px 2px #d4d4d4;
}
.header-menu li {
    margin-right: 20px;
}
.header-meny li:last-shild {
	margin-right: 0;
}
.app-store {
	display: flex;
}
.app-store-info li {
     display: flex;
     padding-bottom: 20px;
}
.app-store-info li div {
	padding-left: 15px;
}
.app-store-info li h3 {
	font-weight: bold; 
}